.details-background {
  background-color: blanchedalmond;
  height: 90vh;
  width: 75vw;
  margin: 10px;
}

.here-gig {
  height: 6vh;
}

.camp-img {
  width: 40%;
}

.current-tour-btn {
  background-color: #E59B7F;
  margin: 25px;
  height: auto;
  width: 25%;
  padding: 6px;
  border: solid 1.5px black;
}