form {
  background-color: blanchedalmond;
  height: 60vh;
  width: 75vw;
  margin: 10px;
}

.what-gig {
  height: 6vh;
}

.left-form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 45vh;
}

.notes {
  height: 15vh;
}

.right-form {
  width: 43vw;
  height: 45vh;
}

.tent {
  max-width: 100%;
  margin-top: 25px;
}

.camp-image {
  max-width: 60%;
  margin-top: 25px;
}

.camp-list {
  width: 30vw;
}

input {
  width: 20vw;
  margin: 10px;
}

select {
  width: 10vw;
  margin: 10px;
}

.bottom-form {
  display: flex;
}

.submit-date {
  background-color: #E59B7F;
  height: 4vh;
  padding: 6px;
  border: solid 1.5px black;
}