form {
  background-color: blanchedalmond;
  height: 60vh;
  width: 75vw;
  margin: 10px;
}

.what-gig {
  height: 6vh;
}

.left-form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 45vh;
}

.right-form {
  width: 40vw;
  height: 45vh;
}

input {
  width: 20vw;
  margin: 10px;
}

select {
  width: 10vw;
  margin: 10px;
}

.bottom-form {
  display: flex;
}

.submit-date {
  background-color: #E59B7F;
  height: 4vh;
  padding: 6px;
  border: solid 1.5px black;
}