form {
  background-color: blanchedalmond;
  height: 60vh;
  width: 75vw;
  margin: 10px;
}

.add-a-date-header {
  font-size: 4vh;
}

.left-form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 50vh;
}

.right-form {
  width: 40vw;
  height: 50vh;
}

input {
  width: 20vw;
  margin: 10px;
}

select {
  width: 10vw;
  margin: 10px;
}

.bottom-form {
  display: flex;
}